[submodule ".emacs.d/modules/coffee-mode"]
	path = .emacs.d/modules/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/modules/magit"]
	path = .emacs.d/modules/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/modules/twittering-mode"]
	path = .emacs.d/modules/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule ".emacs.d/modules/undo-tree"]
	path = .emacs.d/modules/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule ".emacs.d/modules/emacs-window-layout"]
	path = .emacs.d/modules/emacs-window-layout
	url = https://github.com/kiwanami/emacs-window-layout.git
[submodule ".emacs.d/modules/emacs-window-manager"]
	path = .emacs.d/modules/emacs-window-manager
	url = https://github.com/kiwanami/emacs-window-manager.git
[submodule ".emacs.d/modules/switch-window"]
	path = .emacs.d/modules/switch-window
	url = https://github.com/dimitri/switch-window.git
[submodule ".emacs.d/modules/jaunte"]
	path = .emacs.d/modules/jaunte
	url = https://github.com/kawaguchi/jaunte.el.git
[submodule ".emacs.d/modules/deferred"]
	path = .emacs.d/modules/deferred
	url = https://github.com/kiwanami/emacs-deferred.git
