[submodule ".emacs.d/plugins/coffee-mode"]
	path = .emacs.d/plugins/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule ".emacs.d/plugins/undo-tree"]
	path = .emacs.d/plugins/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule ".emacs.d/plugins/magit"]
	path = .emacs.d/plugins/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/plugins/twittering-mode"]
	path = .emacs.d/plugins/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
